target_default: 6_outro_gif_tasks

include:
  - 6_storm_gif_tasks.yml

sources:
  - 6_visualize/src/prep_outro_funs.R

packages:
  - showtext

targets:
  rdgs_fun_1:
    command: prep_outro_rdgs_fun(
      rdg_ind="1_fetch/out/rapid_dep_sites.rds.ind",
      gage_color_config, outro_placement, legend_text_cfg, opacity=1)

  6_visualize/tmp/gif_frame_a_z001_outro_rdgs_1.png:
    command: create_animation_frame(
      png_file=target_name,
      config=storm_frame_config,
      view_fun,
      basemap_fun,
      ocean_name_fun,
      precip_raster_fun_a_{{last_task}},
      storm_line_fun_a_{{last_task}},
      storm_point_fun_a_{{last_task}},
      rivers_fun,
      gage_sites_fun_a_{{last_task}},
      rdgs_fun_1,
      cities_fun,
      watermark_fun)

  ltn_fun_1:
    command: prep_outro_allsites_fun(
      allsites_ind="2_process/out/outro_gage_sites_geom.rds.ind",
      gage_color_config, outro_placement, legend_text_cfg, opacity=1)

  6_visualize/tmp/gif_frame_a_z002_outro_ltn_1.png:
    command: create_animation_frame(
      png_file=target_name,
      config=storm_frame_config,
      view_fun,
      basemap_fun,
      precip_raster_fun_a_{{last_task}},
      storm_line_fun_a_{{last_task}},
      storm_point_fun_a_{{last_task}},
      rivers_fun,
      ltn_fun_1,
      gage_sites_fun_a_{{last_task}},
      rdgs_fun_1,
      cities_fun,
      watermark_fun)


  readmore_fun_1:
    command: prep_outro_readmore_fun(outro_placement, legend_text_cfg, opacity=1)

  6_visualize/tmp/gif_frame_a_z003_outro_readmore_1.png:
    command: create_animation_frame(
      png_file=target_name,
      config=storm_frame_config,
      view_fun,
      basemap_fun,
      precip_raster_fun_a_{{last_task}},
      storm_line_fun_a_{{last_task}},
      storm_point_fun_a_{{last_task}},
      rivers_fun,
      ltn_fun_1,
      readmore_fun_1,
      gage_sites_fun_a_{{last_task}},
      rdgs_fun_1,
      cities_fun,
      watermark_fun)

  6_outro_gif_tasks:
    depends:
      - 6_visualize/tmp/gif_frame_a_z001_outro_rdgs_1.png
      - 6_visualize/tmp/gif_frame_a_z002_outro_ltn_1.png
      - 6_visualize/tmp/gif_frame_a_z003_outro_readmore_1.png
    command: sc_indicate(I('6_visualize/log/6_outro_gif_tasks.ind'), hash_depends=I(TRUE), depends_target=I('6_outro_gif_tasks'), depends_makefile=I('6_outro_gif_tasks.yml'))
