.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
*/tmp/*
*/out/*
!*/out/*.ind
.remake
*.zip
*.rds
*.feather
.DS_Store
*_tasks.yml
6_visualize/log/*
build/status/Nl92aXN1YWxpemUvbG9n*
docker-compose.yml
